SRE_BACKUP_SOURCE={{ backup_source_directory | quote }}
SRE_BACKUP_DESTINATION={{ backup_destination_directory | quote }}
SRE_BACKUP_METRIC_DIRECTORY={{ backup_metric_directory | quote }}
SRE_BACKUP_RETENTION={{ backup_retention_count | int }}
SRE_BACKUP_FRESHNESS_SECONDS={{ backup_freshness_seconds | int }}
